################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/SaleFlow.Docs/.vs/SaleFlow.Docs.slnx
/SaleFlow.Docs/Api/bin/Debug/net10.0
/SaleFlow.Docs/Api/obj
/SaleFlow.Docs/DAL/bin/Debug/net10.0
/SaleFlow.Docs/DAL/obj
/SaleFlow.Docs/Entities/bin/Debug/net10.0
/SaleFlow.Docs/Entities/obj
/SaleFlow.Docs/Service/bin/Debug/net10.0
/SaleFlow.Docs/Service/obj
/SaleFlow.Docs/.vs/ProjectEvaluation
/SaleFlow.Docs/BLL/obj/Debug/net10.0
/SaleFlow.Docs/BLL/obj
